{% extends "nav.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="p-3 mb-2 bg-light bg-gradient ">
<main role="main" class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group p-3">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form group borde-top pt-3 mb-2">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="borde-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
</main>
</div>
{% endblock content %}
