{% extends "nav.html" %}
{% load static %}

{% block content %}

<!--<div class="bg-image" style="height: 100vh">-->
<!--    <section class="u-clearfix img-fluid u-section-1" id="carousel_7441">-->
<!--      <div class="u-clearfix u-sheet u-sheet-1">-->
<!--        <div class="u-align-center u-container-style u-expanded-width-xs u-group u-shape-rectangle u-group-1">-->
<!--          <div class="u-container-layout u-valign-middle u-container-layout-1">-->
<!--            <h2 class="u-custom-font u-font-pt-sans u-text u-text-body-alt-color u-text-default u-text-2">To the <b>Moon</b> and <b>back</b>.-->
<!--            </h2>-->
<!--&lt;!&ndash;            <h5 class="u-text u-text-body-alt-color u-text-2">S</h5>&ndash;&gt;-->
<!--&lt;!&ndash;            <p class="u-text u-text-body-alt-color u-text-default u-text-3">See the future.</p>&ndash;&gt;-->
<!--            <a href="{% url 'login' %}" class="u-border-2 u-border-white u-btn u-btn-round u-button-style u-none u-radius-30 u-text-hover-white u-btn-1">Ready for Launch</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--</div>-->

<div
  class="bg-image"
  style="
    background-image: url('static/home/bg_color.png');
    height: 100vh;
  ">
    <section class="u-clearfix img-fluid u-section-1" id="carousel_7441">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-expanded-width-xs u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h2 class="u-custom-font u-font-pt-sans u-text u-text-body-alt-color u-text-default u-text-2">To the <b>Moon</b> and <b>back</b>.
            </h2>
<!--            <h5 class="u-text u-text-body-alt-color u-text-2">S</h5>-->
<!--            <p class="u-text u-text-body-alt-color u-text-default u-text-3">See the future.</p>-->
            <a href="{% url 'login' %}" class="u-border-2 u-border-white u-btn u-btn-round u-button-style u-none u-radius-30 u-text-hover-white u-btn-1">Ready for Launch</a>
          </div>
        </div>
      </div>
    </section>
</div>

{% endblock content %}
