{% extends "nav.html" %}

{% block content %}
<div class="p-3 mb-2 bg-secondary bg-gradient text-white vh-100">
	<div class="container">
			<p class="u-custom-font u-font-pt-sans u-text u-text-body-alt-color u-text-default u-text-2"> This page shows a sample format of how data is presented to users.
				We pull data from a variety of sources including DraftKings public API, ESPN, as well as some privately aggregated data points that go into our models. <br> <br>
				Charts are created using the <i>Chart.js</i> open-source JavaScript library for data visualization which requires one of the following browser versions to run: </p>
			<div class="entry-content navbar-brand-augur-tiny">
				<p>&#9642; Chrome 50+</p>
				<p>&#9642; Firefox 45+</p>
				<p>&#9642; Internet Explorer 11</p>
				<p>&#9642; Edge 14+</p>
				<p>&#9642; Safari 9+</p>
			</div>
			<br>
	</div>
	<div class="container"><p class="font-monospace"> This is a table with random integers.</p>
		<p class="fst-italic">Refresh to update</p>
	</div>
		<br>
	<div class="container">
		<table class="table table-dark table-striped">
			<thead>
			<tr>
				<th>A</th>
				<th>B</th>
				<th>C</th>
				<th>D</th>
			</tr>
			</thead>
			<tbody>
			<!-- jinja2 Technique -->
			{% if d %}
			{% for i in d %}
			<tr>
				<td>{{i.A}}</td>
				<td>{{i.B}}</td>
				<td>{{i.C}}</td>
				<td>{{i.D}}</td>
			</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
		<br>
		<p class="navbar-brand-augur-tiny text-black">Example Chart:</p>
			<div class="container">
				<canvas id="myChart" width="500" height="400"></canvas>

				<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
				<!-- jQuery -->
				<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

				<script type="text/javascript">
					$.get('{% url "line_chart_json" %}', function(data) {
						var ctx = $("#myChart").get(0).getContext("2d");
						new Chart(ctx, {
							type: 'line',
							data: data,
						});
					});
				</script>
			</div>
	</div>
</div>

{% endblock content %}