{% extends "base.html" %}

<!--&lt;!&ndash; Write HTML code here &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<title>TableView - Startup</title>-->
<!--<meta charset="utf-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->
<!--<h2 class="text-center"><u>Table with random Ints</u></h2><br>-->
<!--<table class="table table-dark table-striped">-->
<!--	<thead>-->
<!--	<tr>-->
<!--		<th>A</th>-->
<!--		<th>B</th>-->
<!--		<th>C</th>-->
<!--		<th>D</th>-->
<!--	</tr>-->
<!--	</thead>-->
<!--	<tbody>-->
<!--	&lt;!&ndash; jinja2 Technique &ndash;&gt;-->
<!--	{% if d %}-->
<!--	{% for i in d %}-->
<!--	<tr>-->
<!--		<td>{{i.A}}</td>-->
<!--		<td>{{i.B}}</td>-->
<!--		<td>{{i.C}}</td>-->
<!--		<td>{{i.D}}</td>-->
<!--	</tr>-->
<!--	{% endfor %}-->
<!--	{% endif %}-->
<!--	</tbody>-->
<!--</table>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

<!--### NEW-->

{% block content %}

<h2 class="text-center"><u>Table with random Ints (Refresh to Update)</u></h2><br>
<table class="table table-dark table-striped">
	<thead>
	<tr>
		<th>A</th>
		<th>B</th>
		<th>C</th>
		<th>D</th>
	</tr>
	</thead>
	<tbody>
	<!-- jinja2 Technique -->
	{% if d %}
	{% for i in d %}
	<tr>
		<td>{{i.A}}</td>
		<td>{{i.B}}</td>
		<td>{{i.C}}</td>
		<td>{{i.D}}</td>
	</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>

{% endblock content %}